<ion-header [translucent]="true" >
  <ion-toolbar  color="primary">
    <ion-title  >
      Rick and Morty Search Engine
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content color="primary" [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rick and Morty</ion-title>
    </ion-toolbar>
  </ion-header>
  <img class="ion-text-center"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Rick_and_Morty.svg/1280px-Rick_and_Morty.svg.png">
  <ion-item>
    <ion-label position="floating">Ingresa el personaje que buscas</ion-label>
    <ion-input clear-on-edit="true"  type="string" [(ngModel)]="name"></ion-input>

  </ion-item>

<app-personajes name="{{name}}"></app-personajes>


</ion-content>
